version: "3.9"
services:
  app:
    build: ./containers/php
    container_name: app
    volumes:
      - ./src:/data

  # 餈質
  web:
    image: nginx:1.20-alpine
    container_name: web
    ports:
      - 8080:80
    volumes:
      - ./src:/data
      - ./containers/nginx/default.conf:/etc/nginx/conf.d/default.conf
    working_dir: /data

  client:
    build: ./containers/client
    container_name: client
    command: "yarn dev"
    image: next-app
    volumes:
      - ./client:/app
    ports:
      - 3000:3000

  # 餈質
  db:
    build: ./containers/mysql
    container_name: mysql
    volumes:
      - db-store:/var/lib/mysql

volumes:
  db-store: